<%-include("../includes/head.ejs")%>
    </head>
<body class="p-0 m-0 h-full">
    <!-- Header -->
    <%-include("../includes/navBarWOV.ejs")%>
    <!-- Body -->
   <div class="flex flex-col space-between p-6 relative min-w-0 z-auto mt-60px">
    <div>
        <div>
            <div class="mt-30px font-bold ">
                <a href="/travels/<%=vehicleId%>" class="text-link text-13px hover:underline">
                    <i class="fa fa-long-arrow-left pr-1"></i>
                    travels
                </a>
                <h1 class="text-19px font-bold pb-15px m-0">Edit Vehicle</h1>
            </div>
            <form action="/create-travel" method="post" class="m-0 ">
                <input type="hidden" name="vehicleId" value="<%=vehicleId%>">
            <div class="flex flex-col justify-center items-center mb-5 ">
                <p class="text-sm mt-1 text-[#D8000C]">
                <%=errorMessage%></p>
                <div class=" flex flex-col w-450px rounded-3xl mb-6 shadow-profileInfo border-1px border-hoverSideColor ">
                        <section class="my-5 block px-6">
                            <div>
                                <div class="relative mb-5 ">
                                    <h4 class="font-bold pt-15px text-lg">Name Your Travel</h4>
                                    <input type="text" name="name" value="<%=oldInputs.name%>" class="block w-full h-34px pt-1.5 px-3 outline-0  text-13px text-[#303434] border-1px border-inputBorder rounded-3px mt-15px mb-2.5 bg-inputBackground shadow-input leading-tight placeholder:text-[#c1c7ce]" placeholder="Travel Name" >
                                </div>

                                <p class="text-xs leading-5 text-[#001e2b] ">Make the name unique, especially when you have more than one travel that lead to the same destination </p>

                            </div>
                        </section>
                </div>
                <!--  -->
                <div  class=" flex flex-col w-450px rounded-3xl shadow-profileInfo border-1px border-hoverSideColor ">
                        <section class="my-5 block px-6">
                            <div>
                                <div class="relative mb-5 ">
                                    <h4 class="font-bold pt-15px text-lg">Set Date</h4>
                                    <input type="date" name="date" value="<%=oldInputs.date%>" class="block w-full h-34px pt-1.5 px-3 outline-0  text-13px text-[#303434] border-1px border-inputBorder rounded-3px mt-15px mb-2.5 bg-inputBackground shadow-input leading-tight placeholder:text-[#c1c7ce]" placeholder="Travel Name">
                                     <h4 class="font-bold pt-15px text-lg">Set Launching Time</h4>
                                    <input type="time" name="timeForLaunch" value="<%=oldInputs.timeForLaunch%>" class="block w-full h-34px pt-1.5 px-3 outline-0  text-13px text-[#303434] border-1px border-inputBorder rounded-3px mt-15px mb-2.5 bg-inputBackground shadow-input leading-tight placeholder:text-[#c1c7ce]" placeholder="Travel Name">
                                
                                </div>
                                <div class="flex justify-end">
            <button type="submit" class="mt-30px self-end p-0 border-1px border-sandyBrown items-stretch relative cursor-pointer inline-flex z-0 rounded-6px bg-sandyBrown text-white text-13px leading-5 h-9 font-medium hover:shadow-addBtn">
                <div class="hidden absolute ring-0 rounded-5px"></div>
                <div class="grid grid-flow-col justify-center items-center w-full min-h-full h-9 px-11px relative gap-2">next</div>
            </button>
            </div>

                            </div>
                        </section>
                  
                    
                </div>
              
            </div>
            </form>
        </div>
    </div>
   </div>
   <script src="/js/profile-script.js"></script>
    <%-include("../includes/end.ejs")%>

